/* html body text */
html {
    font-family: "Kanit", sans-serif;
    font-weight: 320;
    font-style: normal;
    background-color: hsla(199 18% 28% / 0.96);
    font-size: 1.2em;
}
/* heading text */
h1, h2, h3 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 350;
    font-style: normal;
    margin: 0;
}

/* title */
h1 {
    font-size: 5em;
    font-weight: 700;
    color: hsla(204 15% 94% / 0.97);
}

h2 {
    font-size: 1.8em;
    font-weight: 200;
    text-align: right;
    padding-top: 40px;
    padding-bottom: 10px;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* header */
header {
    display: flex;
    margin: auto;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* main container */
.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #ECEFF1;
    border-radius: 15px;
}

/* lyrics container */
.lyrics {
    order: 1;
    flex: 3 1 0;
    padding-left: 3%;
    padding-right: 3%;
    background-color: hsla(198 16% 84% / 0.4);
    margin: 2%;
    border-radius: 50px 15px;
}

/* annotations container*/
.annotations {
    order: 2;
    flex: 2 1 0;
    margin: 2%;
}

/* enlarge effect */
.lyrics section:hover h3 {
    transform: scale(1.08);
    font-weight: 400;
}



/* multi line white space */
section.verse, section.intro-outro, section.chorus, section.bridge {
    white-space: pre-wrap;
}

/* intro outro */
section.intro-outro h3 {
    color: green;
    transition: transform .15s;
}

/* verse */
section.verse h3 {
    color: blue;
    transition: transform .15s;
}

/* chorus */
section.chorus h3 {
    color: red;
    transition: transform .15s;
}


/* aqua */
section.bridge h3 {
    color: blueviolet;
    transition: transform .15s;
}

/* section */
section {
    margin: auto;
}

/* cover */
.annotations img {
    max-width: 100%;
    margin-bottom: 60px;
}

/* section */
section#about, section#newjeans {
    margin: auto;
    white-space: normal;
    font-weight: 200;
}

/* fine pritn sources */
footer {
    padding-top: 40px;
    font-size: 0.6em;
    text-align: right;
    margin: 2% 2%;
}

/* mobile devices column collapse */
@media (max-width: 650px){
    .main-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .annotations {
        margin: 4%;
    }
}